*{
    text-decoration: none;

}

.section{
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    background-color: #ffff;
}

.container{
    width: 1160px;
    margin: 0 auto;
    position: relative;
    padding-top: 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    font-family: 'Red Hat Display', sans-serif;
    cursor: pointer;

}

.logo{
    display: flex;
    align-items: center;
    font-size: 45px;
}

.list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item{
    display: flex;
    padding: 0 40px;

}

.auth{
    display: flex;
    align-items: center;
}

.login{
    width: 100px;
    height: 53px;
    border: none solid ;
    margin: 0 20px;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.reg{
    width: 100px;
    height: 53px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}